<configuration>

    <property name="LOG_DIR" value="${CARNIVAL_MICRONAUT_HOME}/log"/>

    <!-- appenders -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %green([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!--appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender-->

    <appender name="CARNIVAL" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/carnival.log</file>
      <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
    </appender> 


    <!-- loggers -->

    <!-- java -->
    <logger name="javax.management" level="INFO"/>
    <logger name="org.reflections" level="WARN"/>    

    <!-- groovy -->
    <logger name="groovy.util" level="INFO"/>

    <!-- netty -->
    <logger name="org.jboss.netty" level="INFO"/>
    <logger name="com.ning.http.client" level="INFO"/>
    <logger name="reactor.ipc.netty.http.server" level="INFO"/>
    <logger name="reactor.ipc.netty.channel" level="INFO"/>
    <logger name="io.netty" level="INFO"/>

    <!-- micronaut -->
    <logger name="io.micronaut" level="INFO"/>

    <!-- reactor -->
    <logger name="reactor" level="INFO"/>

    <!-- neo4j -->
    <logger name="org.neo4j.ogm" level="INFO"/>

    <!-- carnival -->
    <logger name="sql" level="INFO">
        <appender-ref ref="SQL_FILE" />
    </logger>

    <logger name="carnival" level="TRACE"><appender-ref ref="CARNIVAL" /></logger>
    <!-- <logger name="carnival" level="INFO"><appender-ref ref="CARNIVAL" /></logger> -->
    <logger name="carnival.util.Defaults" level="INFO"/>
    <logger name="carnival.core.graph.CoreGraph" level="INFO"/>

    <!-- with no appender-ref, log statements will flow to the root logger. the
         level set here will be respected.  so, if the level here is trace, but
         the root logger level is info, a trace message will still flow to the
         root logger appender. -->
<!--    <logger name="example.carnival.micronaut" level="TRACE"/>-->
        <logger name="example.carnival.micronaut" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
    
</configuration>
